<footer class="footer-main">
  <div class="footer-first">
    <div class="footer-top footer-container container">
      <div class="row">
        <div id="media_image-21" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="94" height="27"
            src="/wp-content/uploads/sites/4/2022/08/patanjali-svg.svg"
            class="image wp-image-7465  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-18" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="104" height="24"
            src="/wp-content/uploads/sites/4/2022/08/xiaomi.svg" class="image wp-image-7469  attachment-full size-full"
            alt="" loading="lazy" style="max-width: 100%; height: auto;"></div>
        <div id="media_image-19" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="58" height="30"
            src="/wp-content/uploads/sites/4/2022/08/ntpc.svg" class="image wp-image-7467  attachment-full size-full"
            alt="" loading="lazy" style="max-width: 100%; height: auto;"></div>
        <div id="media_image-17" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="114" height="24"
            src="/wp-content/uploads/sites/4/2022/08/rozorpay.svg"
            class="image wp-image-7466  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-20" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="161" height="24"
            src="/wp-content/uploads/sites/4/2022/08/unacademy.svg"
            class="image wp-image-7468  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
      </div>
    </div>
    <div class="footer-middle container">
      <div class="row">

        <div class="col-md-3 col-12">
          <div class="row">
            <div class="col-12 
                               footer-middle-firt">
              <div id="custom_html-4" class="widget_text widget widget_custom_html">
                <h5 class="widget-title">Download apps</h5>
                <div class="textwidget custom-html-widget">
                  <a class="mr-2 mb-2 footer-img-link"
                    href="https://play.google.com/store/apps/details?id=com.msg91.android" target="_blank"
                    rel="nofollow noopener"><img class="mb-2" alt="Play App Store"
                      src="/wp-content/uploads/2022/08/android.svg">
                  </a>
                  <a class="mr-2 mb-2 footer-img-link" href="https://itunes.apple.com/us/app/msg91/id981827687"
                    target="_blank" rel="nofollow noopener">
                    <img class="mb-2" alt="Apple App Store" src="/wp-content/uploads/2022/08/apple.svg">
                  </a>
                </div>
              </div>
              <div id="custom_html-5" class="widget_text widget widget_custom_html">
                <h5 class="widget-title">Follow us</h5>
                <div class="textwidget custom-html-widget">
                  <a class="mr-2 mb-2 footer-img-link" href="https://www.linkedin.com/company/msg91/"
                    rel="nofollow noopener" target="_blank"><img alt="Linkedin"
                      src="/wp-content/uploads/2022/08/linkedin.svg">
                  </a>
                  <a class="mr-2 mb-2 footer-img-link" href="https://www.facebook.com/msg91" rel="nofollow noopener"
                    target="_blank">
                    <img alt="facebook" src="/wp-content/uploads/2022/08/facebook.svg">
                  </a>
                  <a class="mr-2 mb-2 footer-img-link" href="https://twitter.com/msg91com" rel="nofollow noopener"
                    target="_blank">
                    <img alt="twitter" src="/wp-content/uploads/2022/08/twitter.svg">
                  </a>
                  <a class="mr-2 mb-2 footer-img-link" href="https://www.youtube.com/channel/UClx5hDZ79AnA1kVpHdkVH_A"
                    rel="nofollow noopener" target="_blank">
                    <img alt="youtube" src="/wp-content/uploads/2022/08/youtube.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-12">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 
                               col-xl-3 fotr-links">
              <div id="nav_menu-3" class="widget widget_nav_menu">
                <h5 class="widget-title">Our Products</h5>
                <div class="menu-footer-one-container">
                  <ul id="menu-footer-one" class="menu">
                    <li id="menu-item-2215"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2215"><a
                        href="<%= page.country%>/one-api/">One API</a></li>
                    <li id="menu-item-2376"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2376"><a
                        href="<%= page.country%>/send-otp/">SendOTP</a></li>
                    <li id="menu-item-1217"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1217"><a
                        href="<%= page.country%>/hello/">Hello</a></li>
                    <li id="menu-item-1216"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1216"><a
                        href="<%= page.country%>/segmento/">Segmento</a></li>
                    <li id="menu-item-4333"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4333"><a
                        href="<%= page.country%>/regional-sms/">Regional SMS</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 
                               col-xl-3 fotr-links">
              <div id="nav_menu-4" class="widget widget_nav_menu">
                <h5 class="widget-title">Channels</h5>
                <div class="menu-footer-two-container">
                  <ul id="menu-footer-two" class="menu">
                    <li id="menu-item-2208"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2208"><a
                        href="<%= page.country%>/transactional-sms/">SMS</a></li>
                    <li id="menu-item-3569"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3569"><a
                        href="<%= page.country%>/transactional-email/">Email</a></li>
                    <li id="menu-item-4775"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4775"><a
                        href="<%= page.country%>/whatsapp/">WhatsApp</a></li>
                    <li id="menu-item-3567"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3567"><a
                        href="<%= page.country%>/voice-call-api/">Voice</a></li>
                    <li id="menu-item-3617"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3617"><a
                        href="<%= page.country%>/virtual-number/">Virtual Number</a></li>
                    <li id="menu-item-3983"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3983"><a
                        href="<%= page.country%>/rich-communication-services/">Rich communication services-RCS</a></li>
                    <li id="menu-item-4411"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4411"><a
                        href="<%= page.country%>/internet-messaging/">Internet messaging</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 
                               col-xl-3 fotr-links">
              <div id="nav_menu-5" class="widget widget_nav_menu">
                <h5 class="widget-title">Resources</h5>
                <div class="menu-resources-container">
                  <ul id="menu-resources" class="menu">
                    <li id="menu-item-112"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112"><a target="_blank"
                        rel="noopener" href="/guide/">Guide</a></li>
                    <li id="menu-item-4277"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4277"><a
                        href="/case-studies/">Case Studies</a></li>
                    <li id="menu-item-115"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-115"><a target="_blank"
                        rel="noopener" href="https://docs.msg91.com/collection">API doc</a></li>
                    <li id="menu-item-114"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-114"><a target="_blank"
                        rel="noopener" href="https://help.msg91.com/">FAQ</a></li>
                    <li id="menu-item-6393"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6393"><a target="_blank"
                        rel="noopener" href="https://features.msg91.com/feature-requests">Request a Feature</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 
                               col-xl-3 fotr-links">
              <div id="nav_menu-6" class="widget widget_nav_menu">
                <h5 class="widget-title">Discover</h5>
                <div class="menu-discover-container">
                  <ul id="menu-discover" class="menu">
                    <li id="menu-item-1218"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1218"><a
                        href="/about-us/">About Us</a></li>
                    <li id="menu-item-5587"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5587"><a
                        href="/pricing/">Pricing</a></li>
                    <li id="menu-item-2213"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2213"><a
                        href="/contact-us/">Contact us</a></li>
                    <li id="menu-item-4348"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4348"><a
                        href="/become-a-partner/">Become a Partner</a></li>
                    <li id="menu-item-4777"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4777"><a
                        href="/sms-campaign/">SMS Campaign</a></li>
                    <li id="menu-item-4486"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4486"><a
                        href="/developers/">MSG91 Developers</a></li>
                    <li id="menu-item-3207"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3207"><a
                        href="/startups/">MSG91 for Startups</a></li>
                    <li id="menu-item-4335"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4335"><a
                        href="/partners-and-integrations/">Partners and Integrations</a></li>
                    <li id="menu-item-3206"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3206"><a
                        href="/our-partners/">Our Partners</a></li>
                    <li id="menu-item-125"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-125"><a target="_blank"
                        rel="noopener" href="https://apply.workable.com/walkover/">Career</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- emd onner row -->
      </div>
    </div>

    <div class="footer-copyright container">
      <div class="row align-items-center">
        <div class="col-md-9 copyright widget widget_nav_menu">
          <div class="menu-secondary-menu-container">
            <ul id="menu-secondary-menu" class="menu">
              <li id="menu-item-2222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2222">
                <a href="/terms-of-use/">Terms of use</a>
              </li>
              <li id="menu-item-2220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2220">
                <a href="/privacy-policy/">Privacy policy</a>
              </li>
              <li id="menu-item-2218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2218">
                <a href="/gdpr/">GDPR</a>
              </li>
              <li id="menu-item-2219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2219">
                <a href="/no-spam-policy/">No spam</a>
              </li>
              <li id="menu-item-4153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4153">
                <a href="/startups-policy/">Startup Policy</a>
              </li>
              <li id="menu-item-2217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2217">
                <a href="/fair-pricing-policy/">Fair pricing policy</a>
              </li>
              <li id="menu-item-2221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2221">
                <a href="/refund-policy/">Refund policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 text-md-right change-country">
          <div class="dropdown dropup ">
            <a class="dropdown-toggle">
              <% var countryName={ "/in" :"Global", "/" :"Global", "/es" :"Spain", "/ph" :"Philippines", "/sg" :"Singapore", "/us"
                :"United State", } %>
                <span class="footer-country">
                  <%= (page.country) ? countryName[page.country] : 'Global' %>
                </span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/">Global</a>
              <a class="dropdown-item" href="/es">Spain</a>
              <a class="dropdown-item" href="/ph">Philippines</a>
              <a class="dropdown-item" href="/sg">Singapore</a>
              <a class="dropdown-item" href="/uk">United Kingdom</a>
              <a class="dropdown-item" href="/us">United State</a>
            </div>
          </div>


        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-md-9 copyright">
          <div id="text-3" class="widget widget_text">
            <div class="textwidget">
              <p>Copyright 2008-2020 MSG91 | All rights reserved.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-right powered-by">
          <div id="custom_html-7" class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
              <p>
                A product of <img alt="Walkover" src="/wp-content/uploads/sites/4/2020/06/walkover-icon.png"> <a
                  target="_blank" href="https://walkover.in/" rel="nofollow noopener"> <strong>Walkover</strong></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-container container">
      <div class="row">
        <div id="text-5" class="widget widget_text col-12 text-center">
          <div class="textwidget">
            <p>Our Associations</p>
          </div>
        </div>
        <div id="media_image-24" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/6.png"
            class="image wp-image-80  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-25" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/5.png"
            class="image wp-image-81  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-26" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/4.png"
            class="image wp-image-82  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-27" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/3.png"
            class="image wp-image-83  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-28" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/2.png"
            class="image wp-image-84  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-29" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/1.png"
            class="image wp-image-85  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/wp-content/themes/muteweb/assets/js/vendor.min.js?q1223&amp;ver=1"
  id="bootstrap-js"></script>
<script type="text/javascript"
  src="/wp-content/plugins/ultimate-elementor/assets/min-js/uael-frontend.min.js?ver=1.35.0"
  id="uael-frontend-script-js"></script>
<script type='text/javascript'
  src='/wp-content/plugins/ultimate-elementor/assets/min-js/uael-modal-popup.min.js?ver=1.35.0'
  id='uael-modal-popup-js'></script>
<script type="text/javascript"
  src="/wp-content/plugins/gdpr-cookie-consent/public/js/bootstrap/bootstrap.bundle.js?ver=2.0.7"
  id="gdpr-cookie-consent-bootstrap-js-js"></script>
<script type="text/javascript" src="/wp-content/themes/muteweb/framework/pricing/assets/pricing-new.js?ver=1666696301"
  id="pricing-new-script-js-js"></script>
<script type="text/javascript"
  src="/wp-content/themes/muteweb/framework/pricing/assets/bootstrap-slider.min.js"></script>

<% if (page.route === 'transactional-sms' ) { %>
  <script>
    getSmsPricing();
  </script>
<% } %>

<% if (page.route === 'transactional-email' ) { %>
  <script>
    getEmailPricing();
  </script>
<% } %>

<% if (page.route === 'whatsapp' ) { %>
  <script>
    getWhatsAppPricing();
  </script>
<% } %>

<% if (page.route === 'pricing' ) { %>
  <script>
    getSmsPricing();
    getEmailPricing();
    getSendOtpPricing();
    getWhatsAppPricing();
  </script>
<% } %>


            <script type='text/javascript' id='muteweb-pricing-new-script-js-js-extra'>
              /* <![CDATA[ */
              var my_ajax_object = { "ajax_url": "https:\/\/msg91.com\/wp-admin\/admin-ajax.php" };
/* ]]> */
            </script>
            <script type='text/javascript' src='/wp-includes/js/hoverIntent.min.js?ver=1.10.1'
              id='hoverIntent-js'></script>
            <script type='text/javascript' id='megamenu-js-extra'>
              /* <![CDATA[ */
              var megamenu = { "timeout": "300", "interval": "100" };
/* ]]> */
            </script>
            <script type='text/javascript' src='/wp-content/plugins/megamenu/js/maxmegamenu.js?ver=2.9.5'
              id='megamenu-js'></script>
            <script type='text/javascript' id='uael-frontend-script-js-extra'>
              /* <![CDATA[ */
              var uael_script = { "ajax_url": "https:\/\/msg91.com\/wp-admin\/admin-ajax.php" };
              var uael_post_loader_script = { "post_loader": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/post-loader.gif" };
              var uael_login_form_script = { "ajax_url": "https:\/\/msg91.com\/wp-admin\/admin-ajax.php", "invalid_mail": "Enter valid Email!", "pass_unmatch": "The specified password do not match!", "required": "This Field is required!", "incorrect_password": "Error: The Password you have entered is incorrect.", "invalid_username": "Unknown username. Check again or try your email address.", "invalid_email": "Unknown email address. Check again or try your username.", "logged_in_message": "Thanks for logging in, ", "wp_version": "1" };
/* ]]> */
            </script>

            <script type='text/javascript' id='gdpr-cookie-consent-js-extra'>
              /* <![CDATA[ */
              var log_obj = { "ajax_url": "https:\/\/msg91.com\/wp-admin\/admin-ajax.php", "consent_logging_nonce": "8249554c34" };
              var background_obj = { "background": "#ebebeb" };
              var gdpr_cookies_obj = { "gdpr_cookies_list": "[{\"id_gdpr_cookie_category\":\"3\",\"gdpr_cookie_category_name\":\"Necessary\",\"gdpr_cookie_category_slug\":\"necessary\",\"gdpr_cookie_category_description\":\"Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.\",\"data\":[],\"total\":0,\"is_ticked\":true},{\"id_gdpr_cookie_category\":\"2\",\"gdpr_cookie_category_name\":\"Marketing\",\"gdpr_cookie_category_slug\":\"marketing\",\"gdpr_cookie_category_description\":\"Marketing cookies are used to track visitors across websites. The intention is to display ads that are relevant and engaging for the individual user and thereby more valuable for publishers and third party advertisers.\",\"data\":[],\"total\":0,\"is_ticked\":false},{\"id_gdpr_cookie_category\":\"1\",\"gdpr_cookie_category_name\":\"Analytics\",\"gdpr_cookie_category_slug\":\"analytics\",\"gdpr_cookie_category_description\":\"Analytics cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.\",\"data\":[],\"total\":0,\"is_ticked\":false},{\"id_gdpr_cookie_category\":\"4\",\"gdpr_cookie_category_name\":\"Preferences\",\"gdpr_cookie_category_slug\":\"preferences\",\"gdpr_cookie_category_description\":\"Preference cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language or the region that you are in.\",\"data\":[],\"total\":0,\"is_ticked\":false},{\"id_gdpr_cookie_category\":\"5\",\"gdpr_cookie_category_name\":\"Unclassified\",\"gdpr_cookie_category_slug\":\"unclassified\",\"gdpr_cookie_category_description\":\"Unclassified cookies are cookies that we are in the process of classifying, together with the providers of individual cookies.\",\"data\":[],\"total\":0,\"is_ticked\":false}]", "gdpr_cookiebar_settings": "{\"animate_speed_hide\":\"500\",\"animate_speed_show\":\"500\",\"background\":\"#393939\",\"opacity\":\"1\",\"background_border_width\":\"0\",\"background_border_style\":\"none\",\"background_border_color\":\"#ffffff\",\"background_border_radius\":\"0\",\"template\":\"banner-default\",\"button_cancel_link_color\":\"#fff\",\"button_confirm_link_color\":\"#fff\",\"button_cancel_button_color\":\"#333\",\"button_cancel_button_hover\":\"#292929\",\"button_confirm_button_color\":\"#18a300\",\"button_confirm_button_hover\":\"#138200\",\"button_accept_link_color\":\"#ffffff\",\"button_accept_button_color\":\"#222222\",\"button_accept_button_hover\":\"#1b1b1b\",\"button_accept_as_button\":true,\"button_accept_new_win\":false,\"button_accept_is_on\":true,\"button_donotsell_link_color\":\"#359bf5\",\"button_donotsell_as_button\":false,\"button_cancel_as_button\":true,\"button_confirm_as_button\":true,\"button_donotsell_is_on\":true,\"button_cancel_is_on\":true,\"button_confirm_is_on\":true,\"button_readmore_link_color\":\"#ffffff\",\"button_readmore_button_color\":\"#333\",\"button_readmore_button_hover\":\"#292929\",\"button_readmore_as_button\":false,\"button_readmore_new_win\":true,\"button_readmore_is_on\":true,\"button_readmore_url_type\":true,\"button_readmore_wp_page\":false,\"button_readmore_page\":\"1572\",\"button_decline_link_color\":\"#222222\",\"button_decline_button_color\":\"#ffffff\",\"button_decline_button_hover\":\"#cccccc\",\"button_decline_as_button\":true,\"button_decline_new_win\":false,\"button_decline_is_on\":true,\"button_settings_link_color\":\"#fff\",\"button_settings_button_color\":\"#333\",\"button_settings_button_hover\":\"#292929\",\"button_settings_as_button\":false,\"button_settings_new_win\":false,\"button_settings_is_on\":true,\"button_settings_display_cookies\":true,\"button_settings_as_popup\":false,\"button_settings_layout_skin\":\"layout-default\",\"font_family\":\"inherit\",\"notify_animate_hide\":true,\"notify_animate_show\":false,\"notify_div_id\":\"#gdpr-cookie-consent-bar\",\"notify_position_vertical\":\"bottom\",\"notify_position_horizontal\":\"left\",\"text\":\"#ffffff\",\"cookie_bar_as\":\"banner\",\"cookie_usage_for\":\"gdpr\",\"popup_overlay\":true,\"border_color\":\"#ffffff\",\"background_color\":\"#333333\",\"background_active_color\":\"#393939\",\"border_active_color\":\"#393939\",\"logging_on\":false,\"is_eu_on\":false,\"is_ccpa_on\":false,\"is_ccpa_iab_on\":false,\"is_ticked\":false,\"is_script_blocker_on\":false,\"auto_scroll\":false,\"auto_scroll_reload\":false,\"accept_reload\":false,\"decline_reload\":false,\"delete_on_deactivation\":false,\"auto_hide\":false,\"auto_hide_delay\":\"10000\",\"auto_scroll_offset\":\"10\",\"cookie_expiry\":\"365\",\"show_again\":true,\"show_again_position\":\"right\",\"show_again_text\":\"Cookie Settings\",\"show_again_margin\":\"5\",\"show_again_div_id\":\"#gdpr-cookie-consent-show-again\",\"button_accept_button_opacity\":\"1\",\"button_decline_button_opacity\":\"1\",\"button_readmore_button_opacity\":\"1\",\"button_settings_button_opacity\":\"1\",\"button_confirm_button_opacity\":\"1\",\"button_cancel_button_opacity\":\"1\",\"button_accept_button_border_width\":\"0\",\"button_decline_button_border_width\":\"0\",\"button_readmore_button_border_width\":\"0\",\"button_settings_button_border_width\":\"0\",\"button_confirm_button_border_width\":\"0\",\"button_cancel_button_border_width\":\"0\",\"button_accept_button_border_style\":\"none\",\"button_decline_button_border_style\":\"none\",\"button_readmore_button_border_style\":\"none\",\"button_settings_button_border_style\":\"none\",\"button_confirm_button_border_style\":\"none\",\"button_cancel_button_border_style\":\"none\",\"button_accept_button_border_color\":\"#18a300\",\"button_decline_button_border_color\":\"#333333\",\"button_readmore_button_border_color\":\"#333333\",\"button_settings_button_border_color\":\"#333333\",\"button_confirm_button_border_color\":\"#18a300\",\"button_cancel_button_border_color\":\"#333333\",\"button_accept_button_border_radius\":\"0\",\"button_decline_button_border_radius\":\"0\",\"button_readmore_button_border_radius\":\"0\",\"button_settings_button_border_radius\":\"0\",\"button_confirm_button_border_radius\":\"0\",\"button_cancel_button_border_radius\":\"0\",\"pro_active\":false}" };
/* ]]> */
            </script>
            <script type='text/javascript'
              src='/wp-content/plugins/gdpr-cookie-consent/public/js/gdpr-cookie-consent-public.min.js?ver=2.0.7'
              async='async' id='gdpr-cookie-consent-js'></script>
            <script type='text/javascript'
              src='/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.5.5'
              id='elementor-webpack-runtime-js'></script>
            <script type='text/javascript'
              src='/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.5.5'
              id='elementor-frontend-modules-js'></script>
            <script type='text/javascript'
              src='/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2'
              id='elementor-waypoints-js'></script>
            <script type='text/javascript' src='/wp-includes/js/jquery/ui/core.min.js?ver=1.13.0'
              id='jquery-ui-core-js'></script>
            <script type='text/javascript' src='/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6'
              id='swiper-js'></script>
            <script type='text/javascript'
              src='/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.5.5'
              id='share-link-js'></script>
            <script type='text/javascript' src='/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.9.0'
              id='elementor-dialog-js'></script>
            <script type='text/javascript' id='elementor-frontend-js-extra'>
              /* <![CDATA[ */
              var uael_particles_script = { "uael_particles_url": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/min-js\/uael-particles.min.js", "particles_url": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/lib\/particles\/particles.min.js", "snowflakes_image": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/snowflake.svg", "gift": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/gift.png", "tree": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/tree.png", "skull": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/skull.png", "ghost": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/ghost.png", "moon": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/moon.png", "bat": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/bat.png", "pumpkin": "https:\/\/msg91.com\/wp-content\/plugins\/ultimate-elementor\/assets\/img\/pumpkin.png" };
/* ]]> */
            </script>
            <script type='text/javascript' id='elementor-frontend-js-before'>
              var elementorFrontendConfig = {
                "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1024, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "Mobile", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Extra", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Extra", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } },
                "version": "3.5.5", "is_static": false, "experimentalFeatures": { "e_import_export": true, "e_hidden_wordpress_widgets": true, "landing-pages": true, "elements-color-picker": true, "favorite-widgets": true, "admin-top-bar": true }, "urls": { "assets": "https:\/\/msg91.com\/wp-content\/plugins\/elementor\/assets\/" }, "settings": { "page": [], "editorPreferences": [] }, "kit": { "global_image_lightbox": "yes", "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 5492, "title": "Transactional%20SMS%20and%20Transactional%20Email%20Pricing%20%7C%20MSG91", "excerpt": "", "featuredImage": false }
              };
            </script>
            <script type='text/javascript' src='/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.5.5'
              id='elementor-frontend-js'></script>
            <script type='text/javascript'>
              const el = document.querySelector("#main-header")
              const observer = new IntersectionObserver(
                ([e]) => e.target.classList.toggle("stuck", e.intersectionRatio < 1),
                { threshold: [1] }
              );
              observer.observe(el);
            </script>
            <script type='text/javascript' id='elementor-frontend-js-after'>
              window.scope_array = [];
              window.backend = 0;
              jQuery.cachedScript = function (url, options) {
                // Allow user to set any option except for dataType, cache, and url.
                options = jQuery.extend(options || {}, {
                  dataType: "script",
                  cache: true,
                  url: url
                });
                // Return the jqXHR object so we can chain callbacks.
                return jQuery.ajax(options);
              };
              jQuery(window).on("elementor/frontend/init", function () {
                elementorFrontend.hooks.addAction("frontend/element_ready/global", function ($scope, $) {
                  if ("undefined" == typeof $scope) {
                    return;
                  }
                  if ($scope.hasClass("uael-particle-yes")) {
                    window.scope_array.push($scope);
                    $scope.find(".uael-particle-wrapper").addClass("js-is-enabled");
                  } else {
                    return;
                  }
                  if (elementorFrontend.isEditMode() && $scope.find(".uael-particle-wrapper").hasClass("js-is-enabled") && window.backend == 0) {
                    var uael_url = uael_particles_script.uael_particles_url;

                    jQuery.cachedScript(uael_url);
                    window.backend = 1;
                  } else if (elementorFrontend.isEditMode()) {
                    var uael_url = uael_particles_script.uael_particles_url;
                    jQuery.cachedScript(uael_url).done(function () {
                      var flag = true;
                    });
                  }
                });
              });
              jQuery(document).on("ready elementor/popup/show", () => {
                if (jQuery.find(".uael-particle-yes").length < 1) {
                  return;
                }
                var uael_url = uael_particles_script.uael_particles_url;
                jQuery.cachedScript = function (url, options) {
                  // Allow user to set any option except for dataType, cache, and url.
                  options = jQuery.extend(options || {}, {
                    dataType: "script",
                    cache: true,
                    url: url
                  });
                  // Return the jqXHR object so we can chain callbacks.
                  return jQuery.ajax(options);
                };
                jQuery.cachedScript(uael_url);
              });	
            </script>
            <script type='text/javascript'
              src='/wp-content/plugins/elementor/assets/js/preloaded-modules.min.js?ver=3.5.5'
              id='preloaded-modules-js'></script>            

            <script type="text/javascript">


              //console.log(currentPage, showingBar, country, site_url);
              // international menu 
              // jQuery(document).on('click', '#mega-menu-item-5812 > a', function() {
              // 	if (showingBar){
              // 		event.preventDefault();
              // 		jQuery('#loginModalCustom').modal({
              // 			show: true
              // 		});
              // 	}
              // });
              // india menu 
              jQuery(document).on('click', '#mega-menu-item-1983 > a', function () {
                if (showingBar) {
                  event.preventDefault();
                  jQuery('#loginModalCustom').modal({
                    show: true
                  });
                }
              });
              // change the country 
              /* This function not in use 21-02-2022
               function changeCountry() {
               var val = document.getElementById('selectedCountry').value;
               alert(val);
               if (true) {
               if (val === 'other') {
               window.location.href = 'https://world.msg91.com/signin/';
               }
               if (val === 'india') {
               window.location.href = 'https://control.msg91.com/signin/';
               }
               }
               } */
              function changeCountryViaTicker() {
                event.preventDefault();
                var msg_url = "https://msg91.com";
                var val = document.getElementById('selectedCountryOld').value;
                if (showingBar && val) {
                  if (val === 'other') {
                    window.location.href = msg_url + '/choose-country/';
                    setCookie('__isVisitor', true, 1);
                  }
                  if (val === 'india') {
                    if (site_url !== msg_url + '/in') {
                      currentPages = currentPage.split("/");
                      if (currentPages[2] !== undefined && currentPages[2] !== '') {
                        window.location.href = msg_url + '/in/' + currentPages[2];
                      } else if (currentPages[1] !== undefined && currentPages[1] !== '') {
                        window.location.href = msg_url + '/in/' + currentPages[1];
                      } else {
                        window.location.href = msg_url + '/in/';
                      }
                      setCookie('__isVisitor', true, 1);
                    }
                  }
                }
              }
              jQuery(window).on("load", function () {
                var urlHash = window.location.href.split("#")[1];
                if (urlHash) {
                  jQuery('html,body').animate({
                    scrollTop: jQuery('.pricing-bottom-box #' + urlHash).offset().top - 200
                  }, 50);
                }
              });

              /* Uncaught Error: reCAPTCHA has already been rendered in this element give error reCAPTCHA then use this below code :- */
              jQuery('.ginput_recaptcha').each(function (i) {
                var thisID = jQuery(this).attr('id');
                jQuery(this).attr('id', thisID + '_' + i);
              });
            </script>
            <!--  Code for Phone Number Fields Accepts only numbers -->
            <script>
              jQuery('.swe_gf_phone_with_country_code').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9]/g))
                  return false;
              });
            </script>
            <!-- code for after submit the gravity Popup form the flag drop down should be stable -->
            <script>
              jQuery(document).on('gform_post_render', function (event, form_id, current_page) {
                jQuery(".swe_gf_phone_with_country_code").intlTelInput();
              });
            </script>

            <!-- Code To Change the Tabs into the Dropdown in Mobile View -->
            <script>
              jQuery(document).ready(function () {
                if (jQuery("body").hasClass("page-template-templateprice-new-php")) {
                  jQuery(".elementor-tab-mobile-title").attr('style', 'display:none');

                  jQuery('.elementor-tabs').find('.elementor-tabs-wrapper').css('style', 'block');
                  let arr = [];
                  jQuery('.elementor-tab-desktop-title').each(function (index, element) {
                    arr.push({
                      id: element.id,
                      text: jQuery('#' + element.id + ' a').text()
                    });
                  });
                  // Mapping of the id and text
                  var data123 = jQuery.map(arr, function (obj) {
                    obj.id = obj.id || obj.text; // replace pk with your identifier
                    return obj;
                  });

                  jQuery("#customtabdropdown").select2({
                    data: data123,
                    allowClear: false,
                    dropdownPosition: 'below',
                    templateResult: formatState,
                    templateSelection: formatState,
                    placeholder: 'Select Channels/Application',
                    escapeMarkup: function (m) {
                      return m;
                    }
                  }).val('').trigger("change");

                  function formatState(opt) {
                    if (!opt.id) {
                      return opt.text.toUpperCase();
                    }

                    return '<span class="tab-select"><span class="' + opt.text + '"></span></span><span>' + opt.text.toUpperCase() + '</span>';
                  }


                  jQuery('#customtabdropdown').on('change', function () {
                    jQuery('.select2-selection__rendered').addClass("removeHandImg");
                    var element_id = this.value;
                    var element_id_arr = element_id.split("-");
                    var last_element = element_id_arr[3];  // Get Last Arr Element

                    if (jQuery(window).width() < 768) {
                      jQuery(this).find("option:selected").each(function () {
                        var optionValue = jQuery(this).attr("value");

                        if (optionValue) {
                          jQuery(".elementor-tab-content").not("#elementor-tab-content-" + last_element).hide();
                          jQuery("#elementor-tab-content-" + last_element).show();
                          jQuery('#elementor-tab-content-' + last_element).addClass("elementor-active");
                          jQuery('#elementor-tab-content-' + last_element).show();
                          jQuery('#elementor-tab-content-' + last_element).removeAttr('hidden');
                        } else {
                          jQuery(".elementor-tab-content").hide();
                        }
                      });
                    }
                  });
                }
              });
            </script>
            <!-- Jquery Scroll to div  ----->
            <script>
              jQuery(document).ready(function () {
                jQuery("#start-free-trail-id,#get-start-now-id,#request-demo-id").click(function () {
                  jQuery('html, body').animate({
                    scrollTop: jQuery("#contact-scroll-id").offset().top - 320
                  });
                });
              });
            </script>

            <script async type="text/javascript"> _linkedin_partner_id = "2370882";
              window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
              window._linkedin_data_partner_ids.push(_linkedin_partner_id);</script>
            <script async type="text/javascript"> (function () {
                var s =
                  document.getElementsByTagName("script")[0];
                var b =
                  document.createElement("script");
                b.type = "text/javascript";
                b.async = true;
                b.src
                  = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
                s.parentNode.insertBefore(b, s);
              })();</script> <noscript> <img height="1" width="1" style="display:none;" alt=""
                src="https://px.ads.linkedin.com/collect/?pid=2370882&fmt=gif" /> </noscript>            
            
            <script type="text/javascript">
              jQuery("#gform_14").submit(function( event ) {
                event.preventDefault();
                var unindexed_array = jQuery(this).serializeArray();
                var indexed_array = {};
                jQuery.map(unindexed_array, function(n, i){
                    indexed_array[n['name']] = n['value'];
                });                
                fetch('https://sokt.io/app/9NrjC9DCeqg6Q9rTZs4m/segmento-early-access', {
                  method: 'POST', // or 'PUT'
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(indexed_array),
                })
                .then((response) => response.json())
                .then((data) => {
                  console.log('Success:', data);
                })
                .catch((error) => {
                  console.error('Error:', error);
                });
              });
            </script>

            <!-- <script type="text/javascript">
    var t = jQuery(".uael-faq-accordion > .uael-accordion-content"),
    i = jQuery(".uael-faq-container").data("layout");
    jQuery(".uael-accordion-title").off("click keypress");
    jQuery(".uael-accordion-title").on("click keypress", function(e) {
                e.preventDefault(), $this = jQuery(this),
                    function(e) {
                        if ("toggle" == i) e.hasClass("uael-title-active") ? (e.removeClass("uael-title-active"), e.attr("aria-expanded", "false")) : (e.addClass("uael-title-active"), e.attr("aria-expanded", "true")), e.next(".uael-accordion-content").slideToggle("normal", "swing");
                        else if ("accordion" == i) e.hasClass("uael-title-active") ? (e.removeClass("uael-title-active"), e.next(".uael-accordion-content").slideUp("normal", "swing", function() {
                            a(this).prev().removeClass("uael-title-active"), e.attr("aria-expanded", "false")
                        })) : (t.hasClass("uael-title-active") && t.removeClass("uael-title-active"), t.slideUp("normal", "swing", function() {
                            a(this).prev().removeClass("uael-title-active")
                        }), e.addClass("uael-title-active"), e.next(".uael-accordion-content").slideDown("normal", "swing", function() {
                            a(this).prev().addClass("uael-title-active"), e.attr("aria-expanded", "true")
                        }))
                    }($this)
            });
</script> -->

            </body>