<% if(page.country !== '/in'){ %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MWQZXP');</script>
    <!-- End Google Tag Manager -->
<% } else{ %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NWZKLRJ');</script>
    <!-- End Google Tag Manager -->
<% } %>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta property="og:type" content="website">
<link rel="shortcut icon" href="/wp-content/themes/muteweb/favicon.ico" type="image/x-icon">
<link rel="icon" href="/wp-content/themes/muteweb/favicon.ico" type="image/x-icon">
<%
    const logo = "/wp-content/uploads/sites/4/2020/07/msg91_logo.svg";
%>
<!-- Title -->
<title><%= page.title%></title>
<meta name="description" content="<%= page.description%>" />

<!-- og:tags -->
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="<%= page.title%>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<%= page.title%>" />
<meta property="og:description" content="<%= page.description%>" />
<meta property="og:url" content="/" />
<meta property="og:image" content="<%= logo%>" />

<!-- twitter: -->
<meta name="twitter:card" content="<%= page.title%>" />
<meta name="twitter:title" content="<%= page.title%>"" />
<meta name="twitter:description" content="<%= page.description%>" />
<meta name="twitter:image" content="<%= logo%>" />

<!-- CSS -->
<link rel="stylesheet" id="dashicons-css" href="/wp-includes/css/dashicons.min.css" type="text/css" media="all" />
<link rel="stylesheet" id="style-css" href="/wp-content/themes/muteweb/style.css" type="text/css" media="all" />
<link rel="stylesheet" id="aiwp-css" href="/wp-content/plugins/aiwp/public/css/aiwp-public.css" type="text/css" media="all" />
<link rel="stylesheet" id="new_style-css" href="/wp-content/plugins/custom-pricing/pricing/assets/pricing-new.css" type="text/css" media="all" />
<link rel="stylesheet" id="pricingcss-css" href="/wp-content/plugins/custom-pricing/pricing/assets/pricing.css" type="text/css" media="all" />
<link rel="stylesheet" id="megamenu-css" href="/wp-content/uploads/sites/4/maxmegamenu/style.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-icons-css" href="/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-frontend-legacy-css" href="/wp-content/uploads/sites/4/elementor/css/custom-frontend-legacy.min.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-frontend-css" href="/wp-content/uploads/sites/4/elementor/css/custom-frontend.min.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-post-13-css" href="/wp-content/uploads/sites/4/elementor/css/post-13.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-post-26-css" href="/wp-content/uploads/sites/4/elementor/css/post-26.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-post-13-css" href="/wp-content/uploads/sites/4/elementor/css/post-177.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-post-13-css" href="/wp-content/uploads/sites/4/elementor/css/post-782.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-post-13-css" href="/wp-content/uploads/sites/4/elementor/css/post-748.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-post-13-css" href="/wp-content/uploads/sites/4/elementor/css/post-1647.css" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-post-3387-css" href="/wp-content/uploads/sites/4/elementor/css/post-3387.css" type="text/css" media="all">
<link rel="stylesheet" id="uael-frontend-css" href="/wp-content/plugins/ultimate-elementor/assets/min-css/uael-frontend.min.css?ver=1.35.0" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-icons-shared-0-css" href="/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.15.3" type="text/css" media="all" />
<link rel="stylesheet" id="elementor-icons-fa-solid-css" href="/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.15.3" type="text/css" media="all" />

<script type="text/javascript" src="/wp-includes/js/jquery/jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>
<script type="text/javascript" src="/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2"
  id="jquery-migrate-js"></script>
  
<!-- icons -->
<!-- <link rel="icon" href="/wp-content/uploads/sites/4/2020/06/cropped-logo-32x32.png" sizes="32x32">
<link rel="icon" href="/wp-content/uploads/sites/4/2020/06/cropped-logo-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/wp-content/uploads/sites/4/2020/06/cropped-logo-180x180.png"> -->

<!-- <script>
    // Install a service worker
    window.addEventListener('load', () => {
        if (!('serviceWorker' in navigator)) {
            // service workers not supported ðŸ˜£
            return
        }

        navigator.serviceWorker.register('/sw.js').then(
            () => {
                // registered! ðŸ‘ðŸ¼
            },
            err => {
                console.error('SW registration failed! ðŸ˜±', err)
            }
        )
    })
</script> -->